# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# App Configuration
PORT=
DATABASE_URL=
FINGERPRINT=                            # Generate a secret using `openssl rand -base64 32` or similar

